eRims_SonicWeb/App_WebReferences/localhost/SonicInspectioniPhone.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLoginID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLoginIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllFocusAreas">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllFocusAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllFocusAreasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPKByFKLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fK_LU_Location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPKByFKLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelectPKByFKLocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationSelectByPK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pK_LU_Location_ID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationSelectByPKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocationSelectByPKResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectQuestionsAndResposnsesByFocusArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pK_Inspection_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Focus_Area" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectQuestionsAndResposnsesByFocusAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectQuestionsAndResposnsesByFocusAreaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByFK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fK_Inspection_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByFKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectByFKResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachmentSelectByFocusArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Item_Number_Focus_Area" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachmentSelectByFocusAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttachmentSelectByFocusAreaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuestionSelectByFocusArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PK_LU_Location_ID" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="bSelectForAdd" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Focus_Area" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuestionSelectByFocusAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuestionSelectByFocusAreaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByFKLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fK_LU_Location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByFKLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectByFKLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepartmentSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="DepartmentSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentSelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectImagesByFocusArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Item_Number_Focus_Area" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectImagesByFocusAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectImagesByFocusAreaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfDeficiencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pK_Inspection_ID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfDeficienciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfDeficienciesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfRepeat_Deficiency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pK_Inspection_ID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfRepeat_DeficiencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfRepeat_DeficiencyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionSelectByPK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pK_Inspection_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionSelectByPKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InspectionSelectByPKResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectImagesByInspection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectImagesByInspectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectImagesByInspectionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FK_LU_Location_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Inspector_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updated_By" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RLCM_Verified" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="No_Deficiencies" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Overall_Inspection_Comments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InspectionInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PK_Inspection_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_LU_Location_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Inspector_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updated_By" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RLCM_Verified" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="No_Deficiencies" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Overall_Inspection_Comments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="InspectionResponseUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PK_Inspection_Responses_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_Question_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Deficiency_Noted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_Opened" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Recommended_Action" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Target_Completion_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Actual_Completion_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updated_By" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Repeat_Deficiency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionResponseUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="InspectionResponseInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_Question_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Deficiency_Noted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_Opened" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Recommended_Action" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Target_Completion_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Actual_Completion_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updated_By" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Repeat_Deficiency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InspectionResponseInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InspectionResponseInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillLocationdba">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intUserID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillLocationdbaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillLocationdbaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponses">
        <s:complexType />
      </s:element>
      <s:element name="SelectResponsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResponsesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectQuestions">
        <s:complexType />
      </s:element>
      <s:element name="SelectQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectQuestionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectLocations">
        <s:complexType />
      </s:element>
      <s:element name="SelectLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectLocationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUsers">
        <s:complexType />
      </s:element>
      <s:element name="SelectUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FK_Inspection_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FK_Inspection_Question_ID" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Deficiency_Noted" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Department" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Recommended_Action" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Target_Completion_Date" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Actual_Completion_Date" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueVal" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Repeat_Deficiency" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_By" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated_Date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BulkInsertResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BulkInsertResponseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLoginIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginID" />
  </wsdl:message>
  <wsdl:message name="GetLoginIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllFocusAreasSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllFocusAreas" />
  </wsdl:message>
  <wsdl:message name="SelectAllFocusAreasSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllFocusAreasResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPKByFKLoc" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPKByFKLocResponse" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKSoapIn">
    <wsdl:part name="parameters" element="tns:LocationSelectByPK" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKSoapOut">
    <wsdl:part name="parameters" element="tns:LocationSelectByPKResponse" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaSoapIn">
    <wsdl:part name="parameters" element="tns:SelectQuestionsAndResposnsesByFocusArea" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaSoapOut">
    <wsdl:part name="parameters" element="tns:SelectQuestionsAndResposnsesByFocusAreaResponse" />
  </wsdl:message>
  <wsdl:message name="SelectByFKSoapIn">
    <wsdl:part name="parameters" element="tns:SelectByFK" />
  </wsdl:message>
  <wsdl:message name="SelectByFKSoapOut">
    <wsdl:part name="parameters" element="tns:SelectByFKResponse" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaSoapIn">
    <wsdl:part name="parameters" element="tns:AttachmentSelectByFocusArea" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaSoapOut">
    <wsdl:part name="parameters" element="tns:AttachmentSelectByFocusAreaResponse" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaSoapIn">
    <wsdl:part name="parameters" element="tns:QuestionSelectByFocusArea" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaSoapOut">
    <wsdl:part name="parameters" element="tns:QuestionSelectByFocusAreaResponse" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationSoapIn">
    <wsdl:part name="parameters" element="tns:SelectByFKLocation" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationSoapOut">
    <wsdl:part name="parameters" element="tns:SelectByFKLocationResponse" />
  </wsdl:message>
  <wsdl:message name="DepartmentSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:DepartmentSelectAll" />
  </wsdl:message>
  <wsdl:message name="DepartmentSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:DepartmentSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaSoapIn">
    <wsdl:part name="parameters" element="tns:SelectImagesByFocusArea" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaSoapOut">
    <wsdl:part name="parameters" element="tns:SelectImagesByFocusAreaResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfDeficiencies" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfDeficienciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencySoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfRepeat_Deficiency" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencySoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfRepeat_DeficiencyResponse" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKSoapIn">
    <wsdl:part name="parameters" element="tns:InspectionSelectByPK" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKSoapOut">
    <wsdl:part name="parameters" element="tns:InspectionSelectByPKResponse" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionSoapIn">
    <wsdl:part name="parameters" element="tns:SelectImagesByInspection" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionSoapOut">
    <wsdl:part name="parameters" element="tns:SelectImagesByInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="InspectionInsertSoapIn">
    <wsdl:part name="parameters" element="tns:InspectionInsert" />
  </wsdl:message>
  <wsdl:message name="InspectionInsertSoapOut">
    <wsdl:part name="parameters" element="tns:InspectionInsertResponse" />
  </wsdl:message>
  <wsdl:message name="InspectionUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:InspectionUpdate" />
  </wsdl:message>
  <wsdl:message name="InspectionUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:InspectionUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="InspectionResponseUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:InspectionResponseUpdate" />
  </wsdl:message>
  <wsdl:message name="InspectionResponseUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:InspectionResponseUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="InspectionResponseInsertSoapIn">
    <wsdl:part name="parameters" element="tns:InspectionResponseInsert" />
  </wsdl:message>
  <wsdl:message name="InspectionResponseInsertSoapOut">
    <wsdl:part name="parameters" element="tns:InspectionResponseInsertResponse" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaSoapIn">
    <wsdl:part name="parameters" element="tns:FillLocationdba" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaSoapOut">
    <wsdl:part name="parameters" element="tns:FillLocationdbaResponse" />
  </wsdl:message>
  <wsdl:message name="SelectResponsesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectResponses" />
  </wsdl:message>
  <wsdl:message name="SelectResponsesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponsesResponse" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectQuestions" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectLocations" />
  </wsdl:message>
  <wsdl:message name="SelectLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUsers" />
  </wsdl:message>
  <wsdl:message name="SelectUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUsersResponse" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseSoapIn">
    <wsdl:part name="parameters" element="tns:BulkInsertResponse" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseSoapOut">
    <wsdl:part name="parameters" element="tns:BulkInsertResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginIDHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLoginIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SelectAllFocusAreasHttpGetIn" />
  <wsdl:message name="SelectAllFocusAreasHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocHttpGetIn">
    <wsdl:part name="fK_LU_Location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKHttpGetIn">
    <wsdl:part name="pK_LU_Location_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaHttpGetIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
    <wsdl:part name="Focus_Area" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectByFKHttpGetIn">
    <wsdl:part name="fK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectByFKHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaHttpGetIn">
    <wsdl:part name="Item_Number_Focus_Area" type="s:string" />
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaHttpGetIn">
    <wsdl:part name="PK_LU_Location_ID" type="s:string" />
    <wsdl:part name="bSelectForAdd" type="s:string" />
    <wsdl:part name="Focus_Area" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationHttpGetIn">
    <wsdl:part name="fK_LU_Location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DepartmentSelectAllHttpGetIn" />
  <wsdl:message name="DepartmentSelectAllHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaHttpGetIn">
    <wsdl:part name="Item_Number_Focus_Area" type="s:string" />
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesHttpGetIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencyHttpGetIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencyHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKHttpGetIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionHttpGetIn">
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaHttpGetIn">
    <wsdl:part name="intUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SelectResponsesHttpGetIn" />
  <wsdl:message name="SelectResponsesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsHttpGetIn" />
  <wsdl:message name="SelectQuestionsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectLocationsHttpGetIn" />
  <wsdl:message name="SelectLocationsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectUsersHttpGetIn" />
  <wsdl:message name="SelectUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseHttpGetIn">
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
    <wsdl:part name="FK_Inspection_Question_ID" type="s1:StringArray" />
    <wsdl:part name="Deficiency_Noted" type="s1:StringArray" />
    <wsdl:part name="Department" type="s1:StringArray" />
    <wsdl:part name="Recommended_Action" type="s1:StringArray" />
    <wsdl:part name="Target_Completion_Date" type="s1:StringArray" />
    <wsdl:part name="Actual_Completion_Date" type="s1:StringArray" />
    <wsdl:part name="Notes" type="s1:StringArray" />
    <wsdl:part name="UniqueVal" type="s1:StringArray" />
    <wsdl:part name="Repeat_Deficiency" type="s1:StringArray" />
    <wsdl:part name="Updated_By" type="s:string" />
    <wsdl:part name="Updated_Date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetLoginIDHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLoginIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SelectAllFocusAreasHttpPostIn" />
  <wsdl:message name="SelectAllFocusAreasHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocHttpPostIn">
    <wsdl:part name="fK_LU_Location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectPKByFKLocHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKHttpPostIn">
    <wsdl:part name="pK_LU_Location_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationSelectByPKHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaHttpPostIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
    <wsdl:part name="Focus_Area" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsAndResposnsesByFocusAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectByFKHttpPostIn">
    <wsdl:part name="fK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectByFKHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaHttpPostIn">
    <wsdl:part name="Item_Number_Focus_Area" type="s:string" />
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AttachmentSelectByFocusAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaHttpPostIn">
    <wsdl:part name="PK_LU_Location_ID" type="s:string" />
    <wsdl:part name="bSelectForAdd" type="s:string" />
    <wsdl:part name="Focus_Area" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuestionSelectByFocusAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationHttpPostIn">
    <wsdl:part name="fK_LU_Location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectByFKLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DepartmentSelectAllHttpPostIn" />
  <wsdl:message name="DepartmentSelectAllHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaHttpPostIn">
    <wsdl:part name="Item_Number_Focus_Area" type="s:string" />
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByFocusAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesHttpPostIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDeficienciesHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencyHttpPostIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfRepeat_DeficiencyHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKHttpPostIn">
    <wsdl:part name="pK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InspectionSelectByPKHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionHttpPostIn">
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectImagesByInspectionHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaHttpPostIn">
    <wsdl:part name="intUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FillLocationdbaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SelectResponsesHttpPostIn" />
  <wsdl:message name="SelectResponsesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectQuestionsHttpPostIn" />
  <wsdl:message name="SelectQuestionsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectLocationsHttpPostIn" />
  <wsdl:message name="SelectLocationsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectUsersHttpPostIn" />
  <wsdl:message name="SelectUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseHttpPostIn">
    <wsdl:part name="FK_Inspection_ID" type="s:string" />
    <wsdl:part name="FK_Inspection_Question_ID" type="s1:StringArray" />
    <wsdl:part name="Deficiency_Noted" type="s1:StringArray" />
    <wsdl:part name="Department" type="s1:StringArray" />
    <wsdl:part name="Recommended_Action" type="s1:StringArray" />
    <wsdl:part name="Target_Completion_Date" type="s1:StringArray" />
    <wsdl:part name="Actual_Completion_Date" type="s1:StringArray" />
    <wsdl:part name="Notes" type="s1:StringArray" />
    <wsdl:part name="UniqueVal" type="s1:StringArray" />
    <wsdl:part name="Repeat_Deficiency" type="s1:StringArray" />
    <wsdl:part name="Updated_By" type="s:string" />
    <wsdl:part name="Updated_Date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BulkInsertResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetLoginID">
      <wsdl:input message="tns:GetLoginIDSoapIn" />
      <wsdl:output message="tns:GetLoginIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <wsdl:input message="tns:SelectAllFocusAreasSoapIn" />
      <wsdl:output message="tns:SelectAllFocusAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <wsdl:input message="tns:SelectPKByFKLocSoapIn" />
      <wsdl:output message="tns:SelectPKByFKLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <wsdl:input message="tns:LocationSelectByPKSoapIn" />
      <wsdl:output message="tns:LocationSelectByPKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <wsdl:input message="tns:SelectQuestionsAndResposnsesByFocusAreaSoapIn" />
      <wsdl:output message="tns:SelectQuestionsAndResposnsesByFocusAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <wsdl:input message="tns:SelectByFKSoapIn" />
      <wsdl:output message="tns:SelectByFKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <wsdl:input message="tns:AttachmentSelectByFocusAreaSoapIn" />
      <wsdl:output message="tns:AttachmentSelectByFocusAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <wsdl:input message="tns:QuestionSelectByFocusAreaSoapIn" />
      <wsdl:output message="tns:QuestionSelectByFocusAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <wsdl:input message="tns:SelectByFKLocationSoapIn" />
      <wsdl:output message="tns:SelectByFKLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <wsdl:input message="tns:DepartmentSelectAllSoapIn" />
      <wsdl:output message="tns:DepartmentSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <wsdl:input message="tns:SelectImagesByFocusAreaSoapIn" />
      <wsdl:output message="tns:SelectImagesByFocusAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <wsdl:input message="tns:GetNumberOfDeficienciesSoapIn" />
      <wsdl:output message="tns:GetNumberOfDeficienciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <wsdl:input message="tns:GetNumberOfRepeat_DeficiencySoapIn" />
      <wsdl:output message="tns:GetNumberOfRepeat_DeficiencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <wsdl:input message="tns:InspectionSelectByPKSoapIn" />
      <wsdl:output message="tns:InspectionSelectByPKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <wsdl:input message="tns:SelectImagesByInspectionSoapIn" />
      <wsdl:output message="tns:SelectImagesByInspectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionInsert">
      <wsdl:input message="tns:InspectionInsertSoapIn" />
      <wsdl:output message="tns:InspectionInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionUpdate">
      <wsdl:input message="tns:InspectionUpdateSoapIn" />
      <wsdl:output message="tns:InspectionUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseUpdate">
      <wsdl:input message="tns:InspectionResponseUpdateSoapIn" />
      <wsdl:output message="tns:InspectionResponseUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseInsert">
      <wsdl:input message="tns:InspectionResponseInsertSoapIn" />
      <wsdl:output message="tns:InspectionResponseInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <wsdl:input message="tns:FillLocationdbaSoapIn" />
      <wsdl:output message="tns:FillLocationdbaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <wsdl:input message="tns:SelectResponsesSoapIn" />
      <wsdl:output message="tns:SelectResponsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <wsdl:input message="tns:SelectQuestionsSoapIn" />
      <wsdl:output message="tns:SelectQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <wsdl:input message="tns:SelectLocationsSoapIn" />
      <wsdl:output message="tns:SelectLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <wsdl:input message="tns:SelectUsersSoapIn" />
      <wsdl:output message="tns:SelectUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <wsdl:input message="tns:BulkInsertResponseSoapIn" />
      <wsdl:output message="tns:BulkInsertResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="GetLoginID">
      <wsdl:input message="tns:GetLoginIDHttpGetIn" />
      <wsdl:output message="tns:GetLoginIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <wsdl:input message="tns:SelectAllFocusAreasHttpGetIn" />
      <wsdl:output message="tns:SelectAllFocusAreasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <wsdl:input message="tns:SelectPKByFKLocHttpGetIn" />
      <wsdl:output message="tns:SelectPKByFKLocHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <wsdl:input message="tns:LocationSelectByPKHttpGetIn" />
      <wsdl:output message="tns:LocationSelectByPKHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <wsdl:input message="tns:SelectQuestionsAndResposnsesByFocusAreaHttpGetIn" />
      <wsdl:output message="tns:SelectQuestionsAndResposnsesByFocusAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <wsdl:input message="tns:SelectByFKHttpGetIn" />
      <wsdl:output message="tns:SelectByFKHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <wsdl:input message="tns:AttachmentSelectByFocusAreaHttpGetIn" />
      <wsdl:output message="tns:AttachmentSelectByFocusAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <wsdl:input message="tns:QuestionSelectByFocusAreaHttpGetIn" />
      <wsdl:output message="tns:QuestionSelectByFocusAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <wsdl:input message="tns:SelectByFKLocationHttpGetIn" />
      <wsdl:output message="tns:SelectByFKLocationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <wsdl:input message="tns:DepartmentSelectAllHttpGetIn" />
      <wsdl:output message="tns:DepartmentSelectAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <wsdl:input message="tns:SelectImagesByFocusAreaHttpGetIn" />
      <wsdl:output message="tns:SelectImagesByFocusAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <wsdl:input message="tns:GetNumberOfDeficienciesHttpGetIn" />
      <wsdl:output message="tns:GetNumberOfDeficienciesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <wsdl:input message="tns:GetNumberOfRepeat_DeficiencyHttpGetIn" />
      <wsdl:output message="tns:GetNumberOfRepeat_DeficiencyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <wsdl:input message="tns:InspectionSelectByPKHttpGetIn" />
      <wsdl:output message="tns:InspectionSelectByPKHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <wsdl:input message="tns:SelectImagesByInspectionHttpGetIn" />
      <wsdl:output message="tns:SelectImagesByInspectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <wsdl:input message="tns:FillLocationdbaHttpGetIn" />
      <wsdl:output message="tns:FillLocationdbaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <wsdl:input message="tns:SelectResponsesHttpGetIn" />
      <wsdl:output message="tns:SelectResponsesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <wsdl:input message="tns:SelectQuestionsHttpGetIn" />
      <wsdl:output message="tns:SelectQuestionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <wsdl:input message="tns:SelectLocationsHttpGetIn" />
      <wsdl:output message="tns:SelectLocationsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <wsdl:input message="tns:SelectUsersHttpGetIn" />
      <wsdl:output message="tns:SelectUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <wsdl:input message="tns:BulkInsertResponseHttpGetIn" />
      <wsdl:output message="tns:BulkInsertResponseHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="GetLoginID">
      <wsdl:input message="tns:GetLoginIDHttpPostIn" />
      <wsdl:output message="tns:GetLoginIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <wsdl:input message="tns:SelectAllFocusAreasHttpPostIn" />
      <wsdl:output message="tns:SelectAllFocusAreasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <wsdl:input message="tns:SelectPKByFKLocHttpPostIn" />
      <wsdl:output message="tns:SelectPKByFKLocHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <wsdl:input message="tns:LocationSelectByPKHttpPostIn" />
      <wsdl:output message="tns:LocationSelectByPKHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <wsdl:input message="tns:SelectQuestionsAndResposnsesByFocusAreaHttpPostIn" />
      <wsdl:output message="tns:SelectQuestionsAndResposnsesByFocusAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <wsdl:input message="tns:SelectByFKHttpPostIn" />
      <wsdl:output message="tns:SelectByFKHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <wsdl:input message="tns:AttachmentSelectByFocusAreaHttpPostIn" />
      <wsdl:output message="tns:AttachmentSelectByFocusAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <wsdl:input message="tns:QuestionSelectByFocusAreaHttpPostIn" />
      <wsdl:output message="tns:QuestionSelectByFocusAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <wsdl:input message="tns:SelectByFKLocationHttpPostIn" />
      <wsdl:output message="tns:SelectByFKLocationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <wsdl:input message="tns:DepartmentSelectAllHttpPostIn" />
      <wsdl:output message="tns:DepartmentSelectAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <wsdl:input message="tns:SelectImagesByFocusAreaHttpPostIn" />
      <wsdl:output message="tns:SelectImagesByFocusAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <wsdl:input message="tns:GetNumberOfDeficienciesHttpPostIn" />
      <wsdl:output message="tns:GetNumberOfDeficienciesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <wsdl:input message="tns:GetNumberOfRepeat_DeficiencyHttpPostIn" />
      <wsdl:output message="tns:GetNumberOfRepeat_DeficiencyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <wsdl:input message="tns:InspectionSelectByPKHttpPostIn" />
      <wsdl:output message="tns:InspectionSelectByPKHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <wsdl:input message="tns:SelectImagesByInspectionHttpPostIn" />
      <wsdl:output message="tns:SelectImagesByInspectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <wsdl:input message="tns:FillLocationdbaHttpPostIn" />
      <wsdl:output message="tns:FillLocationdbaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <wsdl:input message="tns:SelectResponsesHttpPostIn" />
      <wsdl:output message="tns:SelectResponsesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <wsdl:input message="tns:SelectQuestionsHttpPostIn" />
      <wsdl:output message="tns:SelectQuestionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <wsdl:input message="tns:SelectLocationsHttpPostIn" />
      <wsdl:output message="tns:SelectLocationsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <wsdl:input message="tns:SelectUsersHttpPostIn" />
      <wsdl:output message="tns:SelectUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <wsdl:input message="tns:BulkInsertResponseHttpPostIn" />
      <wsdl:output message="tns:BulkInsertResponseHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoginID">
      <soap:operation soapAction="http://tempuri.org/GetLoginID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <soap:operation soapAction="http://tempuri.org/SelectAllFocusAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <soap:operation soapAction="http://tempuri.org/SelectPKByFKLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <soap:operation soapAction="http://tempuri.org/LocationSelectByPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <soap:operation soapAction="http://tempuri.org/SelectQuestionsAndResposnsesByFocusArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <soap:operation soapAction="http://tempuri.org/SelectByFK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <soap:operation soapAction="http://tempuri.org/AttachmentSelectByFocusArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <soap:operation soapAction="http://tempuri.org/QuestionSelectByFocusArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <soap:operation soapAction="http://tempuri.org/SelectByFKLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <soap:operation soapAction="http://tempuri.org/DepartmentSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <soap:operation soapAction="http://tempuri.org/SelectImagesByFocusArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfDeficiencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfRepeat_Deficiency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <soap:operation soapAction="http://tempuri.org/InspectionSelectByPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <soap:operation soapAction="http://tempuri.org/SelectImagesByInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionInsert">
      <soap:operation soapAction="http://tempuri.org/InspectionInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionUpdate">
      <soap:operation soapAction="http://tempuri.org/InspectionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseUpdate">
      <soap:operation soapAction="http://tempuri.org/InspectionResponseUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseInsert">
      <soap:operation soapAction="http://tempuri.org/InspectionResponseInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <soap:operation soapAction="http://tempuri.org/FillLocationdba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <soap:operation soapAction="http://tempuri.org/SelectResponses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <soap:operation soapAction="http://tempuri.org/SelectQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <soap:operation soapAction="http://tempuri.org/SelectLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <soap:operation soapAction="http://tempuri.org/SelectUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <soap:operation soapAction="http://tempuri.org/BulkInsertResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoginID">
      <soap12:operation soapAction="http://tempuri.org/GetLoginID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <soap12:operation soapAction="http://tempuri.org/SelectAllFocusAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <soap12:operation soapAction="http://tempuri.org/SelectPKByFKLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <soap12:operation soapAction="http://tempuri.org/LocationSelectByPK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <soap12:operation soapAction="http://tempuri.org/SelectQuestionsAndResposnsesByFocusArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <soap12:operation soapAction="http://tempuri.org/SelectByFK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <soap12:operation soapAction="http://tempuri.org/AttachmentSelectByFocusArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <soap12:operation soapAction="http://tempuri.org/QuestionSelectByFocusArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <soap12:operation soapAction="http://tempuri.org/SelectByFKLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <soap12:operation soapAction="http://tempuri.org/DepartmentSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <soap12:operation soapAction="http://tempuri.org/SelectImagesByFocusArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfDeficiencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfRepeat_Deficiency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <soap12:operation soapAction="http://tempuri.org/InspectionSelectByPK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <soap12:operation soapAction="http://tempuri.org/SelectImagesByInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionInsert">
      <soap12:operation soapAction="http://tempuri.org/InspectionInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionUpdate">
      <soap12:operation soapAction="http://tempuri.org/InspectionUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseUpdate">
      <soap12:operation soapAction="http://tempuri.org/InspectionResponseUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionResponseInsert">
      <soap12:operation soapAction="http://tempuri.org/InspectionResponseInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <soap12:operation soapAction="http://tempuri.org/FillLocationdba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <soap12:operation soapAction="http://tempuri.org/SelectResponses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <soap12:operation soapAction="http://tempuri.org/SelectQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <soap12:operation soapAction="http://tempuri.org/SelectLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <soap12:operation soapAction="http://tempuri.org/SelectUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <soap12:operation soapAction="http://tempuri.org/BulkInsertResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetLoginID">
      <http:operation location="/GetLoginID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <http:operation location="/SelectAllFocusAreas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <http:operation location="/SelectPKByFKLoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <http:operation location="/LocationSelectByPK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <http:operation location="/SelectQuestionsAndResposnsesByFocusArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <http:operation location="/SelectByFK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <http:operation location="/AttachmentSelectByFocusArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <http:operation location="/QuestionSelectByFocusArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <http:operation location="/SelectByFKLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <http:operation location="/DepartmentSelectAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <http:operation location="/SelectImagesByFocusArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <http:operation location="/GetNumberOfDeficiencies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <http:operation location="/GetNumberOfRepeat_Deficiency" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <http:operation location="/InspectionSelectByPK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <http:operation location="/SelectImagesByInspection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <http:operation location="/FillLocationdba" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <http:operation location="/SelectResponses" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <http:operation location="/SelectQuestions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <http:operation location="/SelectLocations" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <http:operation location="/SelectUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <http:operation location="/BulkInsertResponse" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLoginID">
      <http:operation location="/GetLoginID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFocusAreas">
      <http:operation location="/SelectAllFocusAreas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPKByFKLoc">
      <http:operation location="/SelectPKByFKLoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSelectByPK">
      <http:operation location="/LocationSelectByPK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestionsAndResposnsesByFocusArea">
      <http:operation location="/SelectQuestionsAndResposnsesByFocusArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFK">
      <http:operation location="/SelectByFK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachmentSelectByFocusArea">
      <http:operation location="/AttachmentSelectByFocusArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionSelectByFocusArea">
      <http:operation location="/QuestionSelectByFocusArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByFKLocation">
      <http:operation location="/SelectByFKLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentSelectAll">
      <http:operation location="/DepartmentSelectAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByFocusArea">
      <http:operation location="/SelectImagesByFocusArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDeficiencies">
      <http:operation location="/GetNumberOfDeficiencies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRepeat_Deficiency">
      <http:operation location="/GetNumberOfRepeat_Deficiency" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InspectionSelectByPK">
      <http:operation location="/InspectionSelectByPK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImagesByInspection">
      <http:operation location="/SelectImagesByInspection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillLocationdba">
      <http:operation location="/FillLocationdba" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectResponses">
      <http:operation location="/SelectResponses" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuestions">
      <http:operation location="/SelectQuestions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLocations">
      <http:operation location="/SelectLocations" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsers">
      <http:operation location="/SelectUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkInsertResponse">
      <http:operation location="/BulkInsertResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:51516/SonicInspectioniPhone.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:51516/SonicInspectioniPhone.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://localhost:51516/SonicInspectioniPhone.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://localhost:51516/SonicInspectioniPhone.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>